.header{
background-color: gray;
height: 5vh;
padding:0px;
}

.bookContainer{
    overflow-y: scroll;
    border: 1px solid black;
    width: 20vw;
    height:95vh
}
.cards{
    border: 1px solid black;

    padding:5px;
}
.text{
        text-align: center;
        
        
}

form{
    position: absolute;
    top:20vh;
    left:55vw;
    width:3vw;
}
.App{
    background-color: darkgrey

}
.Modals{
    width:4vw;
    height:2vh;
    position: absolute;
    top:1.7vh;
    right:5vh;

}